{
  "openapi": "3.0.3",
  "x-readme": {
    "proxy-enabled": false
  },
  "info": {
    "title": "Trendyol Domestic Cargo Invoice Details Integration",
    "description": "You can access the details of the cargo invoices issued by Trendyol to the sellers through this service.\n\n- **How do I find the serial number of the Shipping Invoice?**\n  The \"Id\" value of the records whose transactionType value is \"Kargo Faturası\" or \"Kargo Fatura\" from the fields in the data returned from the transactionType='DeductionInvoices' response over the Current Account Statement Integration is the \"invoiceSerialNumber\" value.\n",
    "version": "1.0.0",
    "contact": {
      "name": "Trendyol Integration Support",
      "email": "entegrasyon@trendyol.com"
    }
  },
  "servers": [
    {
      "url": "https://apigw.trendyol.com/integration/finance/che",
      "description": "Production Environment"
    },
    {
      "url": "https://stageapigw.trendyol.com/integration/finance/che",
      "description": "Stage Environment"
    }
  ],
  "tags": [
    {
      "name": "Cargo Invoice",
      "description": "Cargo invoice detail operations"
    }
  ],
  "paths": {
    "/sellers/{sellerId}/cargo-invoice/{invoiceSerialNumber}/items": {
      "get": {
        "tags": [
          "Cargo Invoice"
        ],
        "summary": "Get Cargo Invoice Details",
        "description": "Retrieve the details of the cargo invoices issued by Trendyol to the sellers.\n\nTo find the invoice serial number, use the Current Account Statement Integration with\ntransactionType='DeductionInvoices' and look for records where transactionType value is\n\"Kargo Faturası\" or \"Kargo Fatura\". The \"Id\" value of those records is the \"invoiceSerialNumber\".\n",
        "operationId": "getCargoInvoiceItems",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Seller ID"
          },
          {
            "name": "invoiceSerialNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cargo invoice serial number. Obtained from Current Account Statement with transactionType='DeductionInvoices'."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Returns information on the specified page only"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500
            },
            "description": "Specifies the maximum number to be listed on a page."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CargoInvoicePageResponse"
                },
                "example": {
                  "page": 0,
                  "size": 500,
                  "totalPages": 1,
                  "totalElements": 25,
                  "content": [
                    {
                      "shipmentPackageType": "Gönderi Kargo Bedeli",
                      "parcelUniqueId": 7260001151141191,
                      "orderNumber": "2111681160",
                      "amount": 34.24,
                      "desi": 1
                    },
                    {
                      "shipmentPackageType": "İade Kargo Bedeli",
                      "parcelUniqueId": 7265609146531138,
                      "orderNumber": "2111161312",
                      "amount": 34.24,
                      "desi": 1
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CargoInvoicePageResponse": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number"
          },
          "size": {
            "type": "integer",
            "description": "Number of items per page"
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages"
          },
          "totalElements": {
            "type": "integer",
            "description": "Total number of elements"
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CargoInvoiceItem"
            }
          }
        }
      },
      "CargoInvoiceItem": {
        "type": "object",
        "properties": {
          "shipmentPackageType": {
            "type": "string",
            "description": "Shipment package type (e.g., \"Gönderi Kargo Bedeli\", \"İade Kargo Bedeli\")"
          },
          "parcelUniqueId": {
            "type": "integer",
            "format": "int64",
            "description": "Parcel unique identifier"
          },
          "orderNumber": {
            "type": "string",
            "description": "Order number"
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Cargo invoice amount"
          },
          "desi": {
            "type": "integer",
            "description": "Volumetric weight (desi) value"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Seller API Key and API Secret with Basic Auth"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Bearer token authentication"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    },
    {
      "apiKeyAuth": []
    }
  ]
}
