{
  "openapi": "3.0.3",
  "x-readme": {
    "proxy-enabled": false
  },
  "info": {
    "title": "Trendyol Test Order API",
    "description": "Test order creation service for test environment",
    "version": "1.0.0",
    "contact": {
      "name": "Trendyol Integration Support",
      "email": "entegrasyon@trendyol.com"
    }
  },
  "servers": [
    {
      "url": "https://stageapigw.trendyol.com/integration",
      "description": "Stage Environment"
    }
  ],
  "tags": [
    {
      "name": "Test Orders",
      "description": "Test order operations"
    }
  ],
  "paths": {
    "/test/order/orders/core": {
      "post": {
        "tags": [
          "Test Orders"
        ],
        "summary": "Create Test Order",
        "description": "Test order creation service will be used to create test orders in requested scenarios in STAGE environment.",
        "operationId": "createTestOrder",
        "parameters": [
          {
            "name": "sellerID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Seller ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer",
                  "invoiceAddress",
                  "lines",
                  "seller",
                  "shippingAddress"
                ],
                "properties": {
                  "customer": {
                    "type": "object",
                    "required": [
                      "customerFirstName",
                      "customerLastName"
                    ],
                    "properties": {
                      "customerFirstName": {
                        "type": "string",
                        "description": "Customer first name"
                      },
                      "customerLastName": {
                        "type": "string",
                        "description": "Customer last name"
                      }
                    }
                  },
                  "invoiceAddress": {
                    "type": "object",
                    "required": [
                      "addressText",
                      "city",
                      "district",
                      "invoiceFirstName",
                      "invoiceLastName",
                      "phone",
                      "email"
                    ],
                    "properties": {
                      "addressText": {
                        "type": "string",
                        "description": "Invoice address"
                      },
                      "city": {
                        "type": "string",
                        "description": "City"
                      },
                      "company": {
                        "type": "string",
                        "description": "Company name (required for corporate invoice)"
                      },
                      "district": {
                        "type": "string",
                        "description": "District"
                      },
                      "invoiceFirstName": {
                        "type": "string",
                        "description": "Invoice first name"
                      },
                      "invoiceLastName": {
                        "type": "string",
                        "description": "Invoice last name"
                      },
                      "latitude": {
                        "type": "string",
                        "description": "Latitude"
                      },
                      "longitude": {
                        "type": "string",
                        "description": "Longitude"
                      },
                      "neighborhood": {
                        "type": "string",
                        "description": "Neighborhood"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Phone number"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "Postal code"
                      },
                      "email": {
                        "type": "string",
                        "description": "Email address"
                      },
                      "invoiceTaxNumber": {
                        "type": "string",
                        "description": "Tax number (required for corporate invoice)"
                      },
                      "invoiceTaxOffice": {
                        "type": "string",
                        "description": "Tax office (required for corporate invoice)"
                      }
                    }
                  },
                  "lines": {
                    "type": "array",
                    "description": "Order line items",
                    "items": {
                      "type": "object",
                      "required": [
                        "barcode",
                        "quantity"
                      ],
                      "properties": {
                        "barcode": {
                          "type": "string",
                          "description": "Product barcode"
                        },
                        "quantity": {
                          "type": "integer",
                          "description": "Quantity"
                        },
                        "discountPercentage": {
                          "type": "number",
                          "format": "double",
                          "description": "Discount percentage"
                        }
                      }
                    }
                  },
                  "seller": {
                    "type": "object",
                    "required": [
                      "sellerId"
                    ],
                    "properties": {
                      "sellerId": {
                        "type": "integer",
                        "description": "Seller ID"
                      }
                    }
                  },
                  "shippingAddress": {
                    "type": "object",
                    "required": [
                      "addressText",
                      "city",
                      "district",
                      "phone",
                      "shippingFirstName",
                      "shippingLastName",
                      "email"
                    ],
                    "properties": {
                      "addressText": {
                        "type": "string",
                        "description": "Shipping address"
                      },
                      "city": {
                        "type": "string",
                        "description": "City"
                      },
                      "company": {
                        "type": "string",
                        "description": "Company name"
                      },
                      "district": {
                        "type": "string",
                        "description": "District"
                      },
                      "latitude": {
                        "type": "string",
                        "description": "Latitude"
                      },
                      "longitude": {
                        "type": "string",
                        "description": "Longitude"
                      },
                      "neighborhood": {
                        "type": "string",
                        "description": "Neighborhood"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Phone number"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "Postal code"
                      },
                      "shippingFirstName": {
                        "type": "string",
                        "description": "Shipping first name"
                      },
                      "shippingLastName": {
                        "type": "string",
                        "description": "Shipping last name"
                      },
                      "email": {
                        "type": "string",
                        "description": "Email address"
                      }
                    }
                  },
                  "commercial": {
                    "type": "boolean",
                    "description": "Corporate invoice status (if true, company, invoiceTaxNumber and invoiceTaxOffice must be filled in invoiceAddress)",
                    "default": false
                  },
                  "microRegion": {
                    "type": "string",
                    "description": "Micro export region (AZ or GULF)",
                    "enum": [
                      "AZ",
                      "GULF"
                    ]
                  }
                }
              },
              "example": {
                "customer": {
                  "customerFirstName": "John",
                  "customerLastName": "Doe"
                },
                "invoiceAddress": {
                  "addressText": "test address",
                  "city": "İzmir",
                  "company": "",
                  "district": "Bornova",
                  "invoiceFirstName": "John",
                  "invoiceLastName": "Doe",
                  "latitude": "string",
                  "longitude": "string",
                  "neighborhood": "",
                  "phone": "333333333",
                  "postalCode": "",
                  "email": "pf+j2jm8x99@trendyolmail.com",
                  "invoiceTaxNumber": "Company Tax Number",
                  "invoiceTaxOffice": "Company Tax Office"
                },
                "lines": [
                  {
                    "barcode": "9900000000486",
                    "quantity": 2,
                    "discountPercentage": 50
                  }
                ],
                "seller": {
                  "sellerId": 2738
                },
                "shippingAddress": {
                  "addressText": "test address",
                  "city": "İzmir",
                  "company": "",
                  "district": "Bornova",
                  "latitude": "string",
                  "longitude": "string",
                  "neighborhood": "",
                  "phone": "333333333",
                  "postalCode": "",
                  "shippingFirstName": "John",
                  "shippingLastName": "Doe",
                  "email": "pf+j2jm8x99@trendyolmail.com"
                },
                "commercial": false,
                "microRegion": "String"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orderNumber": {
                      "type": "string",
                      "description": "Created order number"
                    }
                  }
                },
                "example": {
                  "orderNumber": "123456789"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/test/order/sellers/{sellerId}/shipment-packages/{packageId}/status": {
      "put": {
        "tags": [
          "Test Orders"
        ],
        "summary": "Update Test Order Status",
        "description": "You can update the status of orders you placed in the stage environment to perform your test scenarios.",
        "operationId": "updateTestOrderStatus",
        "parameters": [
          {
            "name": "sellerID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Seller ID"
          },
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Seller ID"
          },
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Package ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "lines",
                  "status"
                ],
                "properties": {
                  "lines": {
                    "type": "array",
                    "description": "Order lines",
                    "items": {
                      "type": "object",
                      "required": [
                        "lineId",
                        "quantity"
                      ],
                      "properties": {
                        "lineId": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Line ID"
                        },
                        "quantity": {
                          "type": "integer",
                          "description": "Quantity"
                        }
                      }
                    }
                  },
                  "params": {
                    "type": "object",
                    "description": "Additional parameters",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "status": {
                    "type": "string",
                    "description": "Status to update. Statuses progress sequentially.\n\n- Shipped: Package shipped to cargo\n- AtCollectionPoint: Package arrived at cargo company's distribution point\n- Delivered: Package delivered to delivery point\n- UnDelivered: Package could not be delivered (returned to cargo distribution center)\n- Returned: Package returned\n",
                    "enum": [
                      "Shipped",
                      "AtCollectionPoint",
                      "Delivered",
                      "UnDelivered",
                      "Returned"
                    ]
                  }
                }
              },
              "example": {
                "lines": [
                  {
                    "lineId": 4944785,
                    "quantity": 1
                  }
                ],
                "params": {},
                "status": "Delivered"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "200 OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/test/order/sellers/{sellerId}/claims/waiting-in-action": {
      "put": {
        "tags": [
          "Test Orders"
        ],
        "summary": "Update Return Test Orders to WaitingInAction Status",
        "description": "You can use this service to update the return status to waitinginaction after creating return requests for orders placed in the stage environment to perform your test scenarios.",
        "operationId": "updateTestClaimToWaitingInAction",
        "parameters": [
          {
            "name": "sellerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Seller ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "shipmentPackageId"
                ],
                "properties": {
                  "shipmentPackageId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Corresponds to the \"orderShipmentPackageId\" value returned from the getClaims service"
                  }
                }
              },
              "example": {
                "shipmentPackageId": 56526451
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "200 OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication using seller ID sent in header"
      }
    }
  }
}
